/dev/
/doom/
/prelude/
/space/
/stable/
/test/
/.emacs.secrets
/centaur/
/lolsmacs/
/panadestein/
/rougier/
/sachac/
/scimax/
/caiohcs/
/for-writers/
/from-scratch/
/hotel-california-for-writers/
/spacemacs/
/uncle-daves/
